.spacer{
    height: 100px;
}

.info-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23919195" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.divider {
    height: 3px;
    background-color: var(--color-border);
    margin: 1rem 0;
    width: 100%;
}

.bg-white{
    background-color: white;
}

.container-sm{
    max-width: 800px;
    margin: 0 auto; // Esto centrará el contenedor

}