.primary-button {
    background-color: var(--color-button-primary);
    color: var(--color-button-primary-text);
    border: none;
    padding: 20px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius:var( --border-radius-buttons);
    margin-left: auto;
    font-weight: 600;
  }
  
  .primary-button:hover {
    background-color: var(--color-button-primary-hover);
  }