<div class="container">
    <div class="header-controls">
      <div class="search-container">
        <input 
          type="text" 
          [ngModel]="searchTerm()"
          (ngModelChange)="updateSearch($event)"
          placeholder="Search..." 
          class="input-control"
        />
      </div>
      <button class="button-primary" (click)="navigateToCreate()">Agregar</button>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción             <span class="info-icon"></span>
            </th>
            <th>Fecha de liberación             <span class="info-icon"></span>
            </th>
            <th>Fecha de reestructuración             <span class="info-icon"></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(product of filteredProducts(); track product.id) {
            <tr>
              <td>
                <img [src]="product.logo" [alt]="product.name" class="table-image">
              </td>
              <td data-label="Nombre">{{ product.name }}</td>
              <td data-label="Descripción">{{ product.description }}</td>
              <td data-label="Fecha liberación">{{ product.date_release | date:'dd/MM/yyyy' }}</td>
              <td data-label="Fecha revisión">{{ product.date_revision | date:'dd/MM/yyyy' }}</td>
              <td>
                <div class="dropdown">
                  <button class="dropdown-toggle" (click)="toggleDropdown(product.id)">
                    <span class="dots">•••</span>
                  </button>
                  <div class="dropdown-menu" [class.show]="activeDropdown === product.id">
                    <button class="dropdown-item" (click)="editProduct(product.id)">
                      Editar
                    </button>
                    <button class="dropdown-item" (click)="deleteProduct(product)">
                      Eliminar
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="5" class="no-results">
                No se encontraron productos
              </td>
            </tr>
          }
        </tbody>
      </table>
      
        <div class="results-control">
          <span class="results-count">{{ totalResults() }} Resultados</span>
          <div class="select-container">
  
          <select 
            [ngModel]="pageSize()"
            (ngModelChange)="updatePageSize($event)"
            class="input-control"
          >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>
        </div>
    </div>
   
  </div>
<app-product-delete-modal [isOpen]="showDeleteModal" [productName]="selectedProduct?.name || ''"
  (confirm)="confirmDelete()" (cancel)="cancelDelete()" />