<div class="container-sm bg-white">
    <h1 class="title">Formulario de Registro</h1>
    <div class="divider">
    </div>
    
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <!-- ID -->
        <div class="form-group">
          <label for="id">ID</label>
          <input 
            id="id"
            type="text"
            [formControl]="idField"
            class="input-control"
            [class.error]="idError"
          >
          @if (idError) {
            <div class="error-message">{{ idError }}</div>
          }
        </div>
  
        <!-- Nombre -->
        <div class="form-group">
          <label for="name">Nombre</label>
          <input 
            id="name"
            type="text"
            [formControl]="nameField"
            class="input-control"
            [class.error]="nameError"
          >
          @if (nameError) {
            <div class="error-message">{{ nameError }}</div>
          }
        </div>
      </div>
  
      <div class="form-row">
        <!-- Descripción -->
        <div class="form-group">
          <label for="description">Descripción</label>
          <input 
            id="description"
            type="text"
            [formControl]="descriptionField"
            class="input-control"
            [class.error]="descriptionError"
          >
          @if (descriptionError) {
            <div class="error-message">{{ descriptionError }}</div>
          }
        </div>
  
        <!-- Logo -->
        <div class="form-group">
          <label for="logo">Logo</label>
          <input 
            id="logo"
            type="text"
            [formControl]="logoField"
            class="input-control"
            [class.error]="logoError"
          >
          @if (logoError) {
            <div class="error-message">{{ logoError }}</div>
          }
        </div>
      </div>
  
      <div class="form-row">
        <!-- Fecha de Liberación -->
        <div class="form-group">
          <label for="date_release">Fecha de Liberación</label>
          <input 
            id="date_release"
            type="date"
            [formControl]="dateReleaseField"
            class="input-control"
            [class.error]="dateReleaseError"
          >
          @if (dateReleaseError) {
            <div class="error-message">{{ dateReleaseError }}</div>
          }
        </div>
  
        <!-- Fecha de Revisión -->
        <div class="form-group">
          <label for="date_revision">Fecha de Revisión</label>
          <input 
            id="date_revision"
            type="date"
            [formControl]="dateRevisionField"
            class="input-control"
            [class.error]="dateRevisionError"
            [class.input-disabled]="!dateReleaseField.value"
            [attr.disabled]="!dateReleaseField.value || null"
            [readOnly]="!dateReleaseField.value || null"
            >
          @if (dateRevisionError) {
            <div class="error-message">{{ dateRevisionError }}</div>
          }
        </div>
      </div>
  
      <div class="form-actions">
        <div class="buttons-wrapper">
          <button type="button" (click)="resetForm()" class="button-secondary">
            Reiniciar
          </button>
          <button type="submit" [disabled]="!productForm.valid" class="button-primary">
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>